<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<link rel="shortcut icon" th:href="@{/img//logotipo-ico.png}">
</head>
<body>
	<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<!-- Navbar content -->
		<a class="mx-4 navbar-brand" th:href="@{/home}"> <img
			th:src="@{/img/logotipo-ico.png}" width="140" height="80" alt="">
		</a>

		<div class="d-flex flex-row-reverse mx-5 collapse navbar-collapse"
			id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item p-2"><a class="nav-link text-" th:href="@{/home}">Inicio</a>
				</li>
				<li class="nav-item p-2"><a class="nav-link" th:href="@{/listar}">Listar</a>
				</li>
				<li class="nav-item p-2"><a class="nav-link" th:href="@{/estadisticas}">Estadisticas</a>
				</li>
				<li class="nav-item p-2"><a class="nav-link" th:href="@{/salir}">Salir</a>
				</li>
			</ul>

		</div>

	</nav>
	
	<footer th:fragment="footer" class="my-4 position-relative">
	<div class="postion-absolute  bg-dark text-light text-center p-3">
		<p>&copy; Todos los derechos reservados :: Fuentes, Gonzalo.</p>
	</div>
	</footer>

</body>
</html>