<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<nav th:replace="layout/layout::nav"></nav>

	<section class="section">
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div th:replace="highcharts/pieChart::pieChart"></div>
					</div>

				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div th:replace="highcharts/basicColumn::basicColumn"></div>
						<div class="text-center mx-auto">
							<a class="btn btn-success" th:href="@{/mes/addMes}" role="button">Agregar o Editar Mes</a>
							<a class="btn btn-danger" href="" role="button">Eliminar Mes</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>