<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
<body>

	<nav th:replace="layout/layout::nav"></nav>

	<h2 class="h2 text-center mx-auto my-4 bg-dark text-white rounded"
		style="width: 300px;">Bienvenido a SuperMarket</h2>

	<section class="section">
		<div
			class="mx-4 row justify-content-center conteiner-fluid bg-dark text-white rounded">
			<div class="border-bottom">
				<h3 class="h3 text-center mx-auto my-2 bg-primary text-white rounded"
					style="width: 300px;">RESUMEN</h3>
					
				<div class="text-center text-dark bg-light">
				<p class="h4">
				El objetivo de esta web es brindar la oportunidad a empleadores/empleados/gerentes/etc. <br>
				administrar, visualizar y almacenar datos sobre los productos de un minimercado enfocado a la venta de alimentos (Carne y Verduras). <br>
				Ademas de esto permite llevar un registro sobre el aumento mensual de cada producto y cantidad de los mismos. <br>
				Esta web esta construida gracias a las Siguientes tecnologias.
				<br>
				- Java -
				<br>
				- SpringBoot - SpringWeb - Spring Data JPA - SpringSecurity -
				<br>
				- Hibernate -
				<br>
				- Thymeleaf -
				<br>
				- Validation -
				<br>
				- PostgreSQL -
				</p>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>