<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<nav th:replace="layout/layout::nav"></nav>
	<h2 class="h2 text-center mx-auto my-4 bg-dark text-white rounded"
		style="width: 300px;">Lista de Mesess</h2>
	<section class="section">
	<div class="my-1 mx-auto text-center">
				<a class="btn btn-primary" th:href="@{/mes/addMes}" role="button">Agregar
					Mes</a>
			</div>
		<div
			class="mx-4 row justify-content-center conteiner-fluid bg-dark text-white rounded">
			<div class="border-bottom">
				<h3
					class="h3 text-center mx-auto my-2 bg-danger text-white rounded"
					style="width: 300px;">Carnes</h3>
			</div>

			<table class="mt-4 table table-lg text-white" th:object="${mesesList}"
				th:if="*{meses!=null}">
				<thead>
					<tr>
						<th>Categoria</th>
						<th>Mes</th>
						<th>Aumento</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mes:${mesesList}" th:if="${mes.categoria} == 'Carne'">
						<td th:text="${mes.categoria}"></td>
						<td th:text="${mes.nombre}"></td>
						<td th:text="${mes.valor}"></td>
						<td><a class="btn btn-danger"
							th:href="@{/mes/deleteMes/} + ${mes.id}" role="button">Eliminar</a></td>

					</tr>
				</tbody>

			</table>
		</div>

		<br>

		<div
			class="mx-4 row justify-content-center conteiner-fluid bg-dark text-white rounded">
			<div class="border-bottom">
				<h3
					class="h3 text-center mx-auto my-2 bg-success text-white rounded"
					style="width: 300px;">Verduras</h3>
			</div>
						<table class="mt-4 table table-lg text-white" th:object="${mesesList}"
				th:if="*{meses!=null}">
				<thead>
					<tr>
						<th>Categoria</th>
						<th>Mes</th>
						<th>Aumento</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mes:${mesesList}" th:if="${mes.categoria} == 'Verdura'">
						<td th:text="${mes.categoria}"></td>
						<td th:text="${mes.nombre}"></td>
						<td th:text="${mes.valor}"></td>
						<td><a class="btn btn-danger"
							th:href="@{/mes/deleteMes} + ${mes.id}" role="button">Eliminar</a></td>

					</tr>
				</tbody>

			</table>

		</div>
	</section>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>